__pycache__/
__pypackages__/
__version__.py
_deps
_dev/
_private/
_version.py
!.env.example
!.env.template
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!build/.gitkeep
!dist/.gitkeep
._*
.\#*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.atom/
.benchmarks/
.cache
.com.apple.timemachine.donotpresent
.conda/
.coverage
.coverage.*
.dmypy.json
.DocumentRevisions-V100
.DS_Store
.eggs/
.env
.env*
.fseventsd
.hatch/
.history/
.hypothesis/
.idea/
.installed.cfg
.ionide/
.ipynb_checkpoints
.LSOverride
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pdm.toml
.pybuilder/
.pyre/
.pytest_cache/
.Python
.python-version
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.Spotlight-V100
.spyderproject
.spyproject
.TemporaryItems
.tox/
.Trashes
.uv/
.venv
.vimrc.local
.VolumeIcon.icns
.vscode/
.webassets-cache
*.backup
*.bak
*.cover
*.crt
*.csr
*.egg
*.egg-info/
*.elc
*.key
*.log
*.make
*.manifest
*.mo
*.p12
*.pem
*.pfx
*.pot
*.prof
*.profile
*.py,cover
*.py[cod]
*.sage.py
*.secret
*.so
*.spec
*.sublime-workspace
*.swo
*.swp
*.temp
*.tmp
*~
*$py.class
/.emacs.desktop
/.emacs.desktop.lock
/site
\#*\#
$RECYCLE.BIN/
artifacts/
auto-save-list
autom4te.cache/
benchmark_results/
benchmarks/results/
build/
celerybeat-schedule
celerybeat.pid
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
config.local.*
config.log
config.status
configure
cover/
coverage.xml
CTestTestfile.cmake
cython_debug/
db.sqlite3
db.sqlite3-journal
Desktop.ini
dev/
develop-eggs/
dist/
dmypy.json
docs/_build/
docs/build/
downloads/
eggs/
ehthumbs_vista.db
ehthumbs.db
env.bak/
env/
ENV/
external/
htmlcov/
Icon
instance/
ipython_config.py
lib/
lib64/
local_config.*
local_settings.py
log/
logs/
Makefile
Makefile.in
MANIFEST
Network Trash Folder
node_modules/
nosetests.xml
npm-debug.log*
outputs/
package-lock.json
parts/
pip-delete-this-directory.txt
pip-log.txt
Pipfile.lock
poetry.lock
private/
prof/
profile_default/
profiles/
results/
sdist/
secret.*
secrets/
share/python-wheels/
src/*/__version__.py
src/*/_version.py
src/*/version.py
target/
temp/
Temporary Items
Thumbs.db
Thumbs.db:encryptable
tmp/
tramp
uv.lock
var/
vendor/
venv.bak/
venv/
wheels/
yarn-debug.log*
yarn-error.log*
yarn.lock